
<div class="login">
    <div class="container-form">
      <h1>Connectez-vous</h1>
        <label for="email"> </label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          required
          placeholder="E-mail"
        /><br /><br />
       
        <label for="password"></label>
        <div class="input-group">
          <input
            type=""
            id="password"
            name="password"
            formControlName="password"
            required
            placeholder="Mot de passe"
          />
        </div>
        <a href="#">Mot de passe perdu</a>
        <button type="submit">S'identifier</button>
        <a href="#">Créer un compte</a>
  </div>