<div class="login">
  <h1>Connectez-vous</h1>

  <div class="container-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        formControlName="email"
        required
        placeholder="E-mail"
      /><br /><br />

      <label for="password"></label>
      <div class="input-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          required
          placeholder="Mot de passe"
        />
      </div>
      <button type="submit">S'identifier</button><br><br>

      <a href="mailto:contact@esportarena.com">Mot de passe perdu</a>
      <a href="/sign-in">Créer un compte</a>
    </form>
  </div>
</div>
