.login{
   min-height: 69%;
}
h1{
    margin-top: 50px;
    text-shadow: 2px 2px 4px #2D7B8D;
    color: rgb(0, 0, 0);
    text-align: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2D7B8D 40%, #85c0ce 80%);    width: 80%;
    margin: auto;
    border-radius: 4px 24px 4px 24px;
    border: 2px double black;
    padding: 20px;
    
    h1{
        font-size: 24px;
        color: whitesmoke;
        margin-top: 0;
        padding-bottom: 20px;
    }
}

input{
    background-color: whitesmoke;
    padding:8px 45px ;
    border-radius: 5px;
    border-bottom: 1px black;
    
}

button{
    margin-top: 40px;
    background-color: #2D7B8D;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    padding: 8px 25px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 65%;
    

}

a{
    color: whitesmoke;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: underline;
    padding-bottom: 10px;

    
}

imput#email{
    padding-left: 10px;
}

p#conditions-cgu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #107E96;
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

span a{
    color: #107E96;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
