
<div class="login">
    <div class="container-form">
      <h1>Creez votre compte</h1>
        <label for="email"> </label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          required
          placeholder="E-mail"
        /><br /><br />
        <label for="email"> </label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          required
          placeholder="Confirmez e-mail"
        /><br /><br />
       
        <label for="password"></label>
        <div class="input-group">
          <input
            type=""
            id="password"
            name="password"
            formControlName="password"
            required
            placeholder="Mot de passe"
          />
        </div>
        <label for="password"></label>
        <br><br>
        <div class="input-group">
          <input
            type=""
            id="password"
            name="password"
            formControlName="password"
            required
            placeholder="Confirmez mot de passe"
          />
        </div>
        <button type="submit">Créer mon compte</button>
        <a href="#">Connectez vous si vous avez déjà un compte</a>
  </div>
<div class="cgu">
    <p id="conditions-cgu">En créant un compte, vous acceptez les<span><a href="#">Conditions d'utilisation</a></span>et la<span><a href="#">Politique de confidentialité</a></span></p>
</div>
  