

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.haut {
    background: linear-gradient(to bottom, #2D7B8D, #85c0ce);
    flex: 0 0 25%; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 4%;
}

.bas {
    background-color: #b8e0e9;
    flex: 0 0 75%; 
}

#img-profile-child {
    width: 110px;
    border-radius: 50%;
    border: 2px solid black;
}


h2{
    color: white;
    text-shadow: 1px 1px 2px #000000;
    background-color: #2D7B8D;
    text-align: center;
    padding: 8px;
    margin-top: 0;
}

h3{
    font-size: 28px;
    margin: 0;
    padding-top: 10px;
}

h4{
    margin: 5px
}

p{
    margin: 0;
    font-size: 16px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    border: none;
    padding: 15px 40px;
    border-radius: 6px;
    width: 70%;
}

.score{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 350px;
    margin-bottom: 10px;
   
}

a{
    text-decoration: underline;
    color: rgb(0, 0, 0)55, 255, 255;
    float: center;
    margin-bottom: 10px;
}

img#button-v{
    width: 33px;
}

img#button-x{
    width: 35px;
    height: 35px;
    
}


.desc-tasks-child {
    border: 1px solid #2D7B8D;
    transition: background-color 0.3s ease;
  }
  
  .desc-tasks-child:hover {
    background-color: #f0f0f0; 
  }
  .blue { background-color: #4A90E2; }
  .orange { background-color: #F5A623; }
  .green { background-color: #7ED321; }

.desc-tasks{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

#title-task{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#img-man-hidden{
    position: absolute;
    width: 220px;
    top: 0;
    left: 50%;
}

#compteur{
    background-color: #2D7B8D;
    color: white;
    font-size: 28px;
    border: none;
    padding: 10px 70px 5px 70px;   
    border-radius: 6px;
    width: 60%;
    text-align: center;
    margin-right: 60px;
}

button#btn-score{
    color: #000000;
    font-size: large;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    background-color: #b8e0e9;
}

#btn-add-task{
    padding-left: 20px;
}

#btn-save{
    background-color: #2D7B8D;
    color: white;
    font-size: large;
    border: none;
    padding: 10px 0px;
    border-radius: 6px;
    width: 40%;
}

input{
    width: 90%;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 5px;
    padding-left: 10px;
    
}

.formTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2D7B8D 40%, #85c0ce 80%);
    padding: 30px;
    border: 2px double black;
    border-radius: 4px 24px 4px 24px;
    margin: 20px;
}
