.container{
background-color: #85c0ce;
    
}

h1{
    color: #85c0ce;
    text-shadow: 1px 1px 2px #000000;
    background-color: #2D7B8D;
    text-align: center;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

hr{
    border: 1px solid #2D7B8D;
    margin-top: 0;
    margin-bottom: 0;

}

h2{
    color: white;
    font-size: 19px;
    text-shadow: 1px 1px 2px #000000;
    background-color: #2D7B8D;
    text-align: center;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
}