<div class="container">
    <div class="text-rgpd">
        <h1>Politique de Confidentialité et RGPD</h1>
        <hr>
        <h2>1. Introduction</h2>
        <p>
            TasKKids s'engage à protéger la vie privée de ses utilisateurs. 
            Cette politique explique comment nous collectons, utilisons, divulguons, et protégeons les informations personnelles de nos utilisateurs.
        </p>
        <h2>2. Collecte des Données</h2>
        <p>
            Nous collectons des informations lorsque vous créez un compte, utilisez l'application, ou communiquez avec nous. Cela inclut votre nom, adresse e-mail, 
            et des informations sur l'utilisation de l'application.
        </p>
        <h2>3. Utilisation des Données</h2>
        <p>
            Les informations collectées sont utilisées pour fournir et améliorer nos services, communiquer avec vous, et assurer le fonctionnement de l'application. 
            Nous ne vendons ni ne louons vos données personnelles à des tiers. 
        </p>
        <h2>4. Stockage et Sécurité</h2>
        <p>
            Vos données personnelles sont stockées en toute sécurité et sont accessibles uniquement au personnel nécessaire. Nous prenons toutes les mesures raisonnables pour protéger vos informations contre les pertes, 
            les vols, les mauvais usages et l'accès non autorisé.  
        </p>
        <h2>5. Droits des Utilisateurs</h2>
        <p>
            Conformément au RGPD, vous avez le droit d'accéder, de rectifier, de supprimer et de restreindre le traitement de vos données personnelles. 
            Vous pouvez exercer ces droits en nous contactant.  
        </p>
        <h2>6. Modifications de la Politique de Confidentialité</h2>
        <p>
            Nous pouvons modifier cette politique de temps à autre. Les modifications seront effectives dès leur publication sur l'application ou notre site web.
        </p>

    </div>

</div>