<div class="container">
    <div class="haut">
        <div class="img-family">  
            <img  src="/assets/images/famille_silhouette trasnparente.png" alt="">    
        </div>
        <h1>PROFIL {{parent.nickname?.toLocaleUpperCase()}}</h1>
        <button id="btn-logout" (click)="logout()">Déconnexion</button>

        <img id="photo-profile" [src]="parent.picture" alt="picture" width="100px">

        <img id="edit" src="/assets/images/edit.png" alt="edit" width="50px" (click)="openInputNicknameParent()">
        <div *ngIf="showNicknameField">
            <label for="picture"></label>
            <input type="file" id="picture" name="picture" required>
            <button id="btn-save" (click)="savePictureParent()">Enregistrer</button>
        </div>
        
    </div>
    <div class="add-child">
    <h2>MES ENFANTS</h2>
    <img src="/assets/images/plus.png" alt="add-child" width="70px" (click)="addChild()">
    </div>
    <div class="bas">
        <div *ngFor="let child of parent.children; let i = index">
            {{i}}
            <img id="photo-child" [src]="child.picture" alt="Description de l'image" width="80px" (click)="goToChildProfile(child.id)">
            <p id="nickname-child">{{child.nickname}}</p>
        </div>
        
    </div>

</div>
  
  