

<!--<div class="container-header">
    <img id="logo-headerHome"
      (click)="toPage('/home')"
      src="assets/images/logo_texte-blanc_Taskkids.png" alt="logo Taskkids" height="200px">
      <h1>Chaque effort sa récompense</h1>
  </div>-->
  <div class="body-main-page">
    <img id="task-boy" src="assets/images/task1.png" alt="tache garçon">
    <div class="block1">
        <h2>C'est quoi TskKids ?</h2>
        <p>C'est une app qui aide les enfants à gagner des récompenses en réalisant leurs missions, tout en permettant aux parents de suivre facilement leurs progrès. Une façon interactive d'apprendre la responsabilité et l'autonomie.</p>
    </div>
    <img id="papa-caché" src="/assets/images/homme caché Taskkids.png" alt="papa cacé">
    <div class="block2">
        <h2>Pourquoi TaskKids ?</h2>
        <p>TaskKids transforme la gestion des tâches familiales en une expérience ludique exclusive pour les parents. Guidez vos enfants vers l'autonomie en récompensant leurs accomplissements.</p>
    </div>
    <img id="task-fille"  src="/assets/images/task2(1).png" alt="tache fille">
    <img id="maman-cachée"  src="/assets/images/femme cachée Taskkids.png" alt="maman cachée">
    <div class="block3">
        <h2>Prêt à commencer ?</h2>
        <p>Envie de révolutionner les tâches ménagères ? Créez un compte pour votre famille et découvrez comment les tâches deviennent un jeu d'enfant !</p>
    </div>
    <button>Je rejoins TaskKids</button>
</div>

