<div class="create-child">
    <h1>Ajouter un enfant</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="container-form">
        <label for="surnon"></label>
        <input type="text" id="surnon" formControlName="surnon" required placeholder="Surnon" /><br /><br />
        <label for="age"></label>
        <input type="number" id="age" formControlName="age" required placeholder="age" /><br /><br />
        <label for="sexe"></label>
    <select id="sexe" name="sexe">
        <option value ="">--Choisir un genre--</option>
        <option value="fille">Fille</option>
        <option value="garcon">Garçon</option>
    </select><br><br>
        <div>
            <label for="photoUpload"> &nbsp; Choisir une photo :</label> 
            <input type="file" id="photoUpload" name="photoUpload" accept="image/*">
        </div>
        <br /><br />        
        
        <button type="submit">J'ajoute mon enfant</button>
      </div>
    </form>
   
  </div>
  
